[submodule "vim/bundle/file-line"]
	path = vim/bundle/file-line
	url = git@github.com:bogado/file-line.git
[submodule "vim/bundle/vim-jade"]
	path = vim/bundle/vim-jade
	url = git://github.com/digitaltoad/vim-jade.git
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/vim-es7"]
	path = vim/bundle/vim-es7
	url = git@github.com:kern/vim-es7.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
